body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
.curtains-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
  z-index: -999; /* Ensure it's on top of other elements */
}

.tab {
    position: fixed;
    bottom: 0;
}


.content {
  height: 1030px;
  width: 1200px;
  background-image: linear-gradient(to bottom, #000000 70%, #303030);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upper-banner-background {
    width: 100%;
    height: 244px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
  
.logo {
    width: 400px;
    height: 238px;
    margin-top:2px;
    position: relative;
    z-index: -1;
}

.logo-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.tab {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1; 
}

.tab a {
    margin: 0;
    border: 1px solid black;
    padding: 15px 20px;
    text-decoration: none;
    color: black; 
    font-size: 20px; 
}
.tabs-background {
        background-color: black;
        border-radius: 5px; /* optional border radius */
        margin-top: 205px; /* Adjust the value to move the tabs down */
    }

.nav-tabs .nav-link {
        color: #FFFFFF;
}

.admin-login {
    position: absolute;
    top: 10px;
    right: 10px;
}

.poster-container {
    display: flex;
}



.title {
  text-align: center; 
  width: 90%; 
  margin-top:10px;
  font-size:32px;
  margin-left:50px;
}


/* For log in/admin log in*/

.form-container {
  width: 90%; 
  margin: 10px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  z-index: 2;
}
.form-group {
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px; 
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container {
  text-align: center;
}

.button-container button {
  margin-left: 10px; 
}

.error-message-container {
  overflow: hidden;
}
/* For the landing page */
.recommended {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 36px;
    color: white;
}

.movies_in_genre {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 26px;
    color: white;
}

.square {
    width: 192px;
    height: 288px;
    border: 1px solid white;
    text-align: center;
    line-height: 288px;
    margin-left: 35px;
    margin-top: 5px;
}

/* For search results page */
        .result-container {
            display: flex;
            flex-wrap: wrap;
        }
        .result-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 5px;
            cursor: pointer;
        }
/* For cart */

.center-content {
    text-align: center;
    margin: 0 auto;
    width: 50%; 
}

/* Order success page */
        .success-message {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .order-details {
            font-size: 18px;
        }