<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TheaterHub{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='GUI Styles.css') }}">
</head>
<body>
           <div class="content">
              <div class="upper-banner-background"></div> 
              <a href="/admin_login" class="admin-login">Admin? Log in here.</a>
              <div class="logo-container">
                 <a href="/">
                 <div class="logo" id="logo">
	            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logo.png') }}">
                 </div>
                 </a>
                 <div class="tab" id="tabs">
                    <a href="/buy_tickets">Buy Tickets</a>
                    <a href="/cart">Cart</a>     
                    <a href="/profile">Profile</a>     
                    <a href="/contact_us">Contact Us</a>     
                    <a href="/log_in">Log In</a>     
                 </div>
              </div>
              {% block content %}{% endblock %}
              </div>
</body>
</html>
