<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TheaterHub{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='GUI Styles.css') }}">

</head>
<body style="background-image: url(../static/curtains.jpg); background-size: cover; background-repeat: no-repeat;">
        <div class="curtains-overlay"></div>
    <div class="content">
        <div class="upper-banner-background" style="background-image: url(../static/popcorn.jpg); filter: brightness(70%);"></div>

       <a class="admin-login" href="{% if session.admin_logged_in %}/admin_logout{% else %}/admin_login{% endif %}"  style="color: yellow;">
    {% if session.admin_logged_in %}Log Out{% else %}<span style="color: yellow;">Admin? Log in here</span>{% endif %}
</a>

        <div class="logo-container">
            <a href="/">
                <div class="logo" id="logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">                 
                </div>
            </a>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs tabs-background">
                        <li class="nav-item">
                            <a class="nav-link" href="/buy_tickets">Buy Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% if session.logged_in %}/logout{% else %}/log_in{% endif %}">
                                {% if session.logged_in %}Log Out{% else %}Log In{% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>


</body>
</html>


