{% extends "base.html" %}
{% block title %}TheaterHub - Buy Tickets{% endblock %}
{% block content %}
    <div style="text-align: center; margin: 30px auto 0; background-color: #333; padding: 20px; border-radius: 10px; margin-left: calc(35%); padding-top:20px; padding-right:35px; padding-bottom: 35px;">
        <span class="title" style="color: white; margin-right:20px;">Movie Look-Up</span>
        <br>
        <form action="{{ url_for('search_movie') }}" method="GET" style="display: inline-block;">
            <input type="text" name="query" placeholder="Search for a movie" style="margin-right: 5px; margin-top: 20px; margin-left: 10px; font-size: 1.3em;">
            <button type="submit" style="font-size: 1.3em;">Search</button>
        </form>
    </div>
{% endblock %}