<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TheaterHub</title>
<link rel="stylesheet" href="GUI Styles.css">
</head>
<body>
  <div class="content">
    <div class="upper-banner-background"></div> 
    <a href="/admin_login" class="admin-login">Admin? Log in here.</a>
    <div class="logo-container">
      <a href="/landing_page">
        <div class="logo" id="logo">
          <img src="img/logo.png">
        </div>
      </a>
      <div class="tab" id="tabs">
        <a href="/buy_tickets">Buy Tickets</a>
        <a href="/cart">Cart</a>     
        <a href="/profile">Profile</a>     
        <a href="/contact_us">Contact Us</a>     
        <a href="/log_in">Log In</a>     
      </div>
    </div>
	<span class="title">Frequently Asked Questions</span>
	<span class="title" style="font-size:16px;">Contact details are at the bottom of this page.</span>
 	<span class="title" style="font-size:24px;">Q: Do I need to sign up to buy tickets?</span>
	<span class="title" style="font-size:16px;">A: No. While signing up is quick and free, TheaterHub wants to create an easy experience for all users. You will still need to provide an e-mail for a receipt, however, we do not save that information unless you are logged in.</span>
	<span class="title" style="font-size:24px;">Q: How do I buy tickets?</span>
	<span class="title" style="font-size:16px;">A: Click on the 'Buy Tickets' tab, and then type in a movie's name or genre into the search bar. Click on the movie you'd like to see, then click on the movie theater you'd like to see it at. You should then see the time slots the movies are playing at. Click on the one you want, and type in the quantity of tickets you'd like to buy, and hit confirm. Once that is done, you should see a summary of the tickets you're buying. Once you've confirmed the information is correct, type in any asked information and click "Checkout".</span>
  </div>
</body>
</html>
