{% extends "base.html" %}
{% block title %}TheaterHub - Landing Page{% endblock %}
{% block content %}
    <span class="recommended">Recommended for you!</span>
    <span class="movies_in_genre">Movies in &lt;genre1&gt;:</span>
    <div class="poster-container">
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
    </div>
      <span class="movies_in_genre">Movies in &lt;genre2&gt;:</span>
    <div class="poster-container">
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
      <div class="square">Movie Poster</div>
    </div>
{% endblock %}

