{% extends "base.html" %}
{% block title %}TheaterHub - Profile{% endblock %}
{% block content %}
    {% if session.admin_logged_in %}
    <div class="profile" style="margin-left:20px;">
        <h1 class="section-title">Admin Profile</h1>
        <div class="profile-info" style="margin-left:20px;">
            <h2 style="font-weight: normal;">
                <p><span style="background-color: #f2f2f2; color: #666; display: inline-block; padding: 5px 10px;">Email:{{ session.email }}</span></p>
                <!-- Display password with asterisks -->
                <p>Password: {{ '*' * session.password|length }}</p>
                <div class="button-container">
                    <a href="change_email"><button type="button">Change Email</button></a>
                    <a href="update_password"><button type="button">Update Password</button></a>
                    <a href="delete_account"><button type="button">Delete Account</button></a>
                </div>
                <h3 style="margin-top: 50px;">Admin Tools</h3>
                <div class="button-container" style="margin-left: -170px;">
                    <a href="add_movie"><button type="button">Add Movie</button></a>
                    <a href="delete_movie"><button type="button">Delete Movie</button></a>
                </div>
            </h2>
        </div>
    </div>
    {% else %}
        {% if session.logged_in %}
            <div class="profile" style="margin-left:20px;">
                <h1 class="section-title">Profile</h1>
                <div class="profile-info" style="margin-left:20px;">
                    <h2 style="font-weight: normal;">
                        <p><span style="background-color: #f2f2f2; color: #666; display: inline-block; padding: 5px 10px;">Email:{{ session.email }}</span></p>
                        <!-- Display password with asterisks -->
                        <p>Password: {{ '*' * session.password|length }}</p>
                        <div class="button-container">
                            <a href="change_email"><button type="button">Change Email</button></a>
                            <a href="update_password"><button type="button">Update Password</button></a>
                            <a href="delete_account"><button type="button">Delete Account</button></a>
                            <a href="change_genres"><button type="button">Change Genres</button></a>
                        </div>
                        <h3>Favorite Genres:</h3>
                        <ul>
                            {% for genre in genres %}
                                <li>{{ genre }}</li>
                            {% endfor %}
                        </ul>
                    </h2>
                </div>
            </div>
        {% else %}
            <div class="not-logged-in">
                <h2 class="section-title">You are not logged in.</h2>
                <a class="login-link" href="log_in">Log in here</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}