{% extends "base.html" %}
{% block title %}TheaterHub - Profile{% endblock %}
{% block content %}
    {% if session.logged_in %}
        <div class="profile" style="margin-left:20px;">
            <h1 class="section-title">Profile</h1>
            <div class="profile-info" style="margin-left:20px;">
                <h2 style="font-weight: normal;">
                    <p><span style="background-color: #f2f2f2; color: #666; display: inline-block; padding: 5px 10px;">Email:{{ session.email }}</span> </p>
                    <p><span style="background-color: #f2f2f2; color: #666; display: inline-block; padding: 5px 10px;">Password: {{ session.password }}</span></p>
                    <div class="button-container">
                    <a href="change_email"><button type="button">Change Email</button></a>
                    <a href="update_password"><button type="button">Update Password</button></a>
                </h2>
            </div>
        </div>
    {% else %}
        <div class="not-logged-in">
            <h2 class="section-title">You are not logged in.</h2>
            <a class="login-link" href="log_in">Log in here</a>
        </div>
    {% endif %}
{% endblock %}