{% extends "base.html" %}
{% block title %}TheaterHub - Reset Password{% endblock %}
{% block content %}
    <div class="form-container">
      <div class="title" style="margin-left:0px;">Reset Password</div>
      <form action="/reset_password_handler" method="POST"> 
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="new_password">New Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="button-container">
          <button type="submit">Update</button>
    <div id="error-message" style="color: red; margin-top: 15px;">
      {% if error %}
        {{ error }}
      {% endif %}
    </div>
{% endblock %}






